.game {
  width: 600px;
  height: 200px;
  border: 3px solid black;
  margin: auto;
  background-color: white;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  animation: block 2s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}


.Score{
            position: absolute;
            top: 15px;
            left: 50px;
            text-align: center;
            padding-top: 23px;
            font-size: 30px;
            line-height: 20px;
            background-color: rgba(34, 119, 8, 0.952);
            color: white;
            width: 300px;
            height: 100px;
            box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        }

footer {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
}

footer a:visited {
    color: inherit;
}